@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    font-family: "Madimi One", sans-serif;
    box-sizing: border-box;
}

header>nav {
    border: 5px solid salmon;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: 0.5s all;
}

header>nav:hover{
    scale: 1.1;
    box-shadow: 0 0 20px 2px white;
    cursor: pointer ;
}

header>nav:active{
    scale: .9;
    background-color: white;
}