@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    opacity: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    transition: all 1s ease-in-out;
}

header {
    font-family: "Madimi One", sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    padding: 10px;
    transition: all 1s;
}

header>nav {
    text-align: center;
    transition: 1s all;
    color: white;
}

header>nav:hover {
    scale: 1.1;
    cursor: pointer;
}

header>nav:active {
    scale: .9;
}

.clicked {}

/* Content*/

@keyframes vanish {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content {
    position: relative;
    color: wheat;
}