@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.233);
    outline: 1px solid slategrey;
    border-radius: 50px;
  }

/* Header and menu section */

header {
    font-family: "Madimi One", sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: url(../dist/assets/dene.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 0px;
    position: sticky;
    top: 0px;
    transition: all 1s;
}

#down-up {
    color: white;
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 20px;
    width: max-content;
}

header>nav {
    text-align: center;
    color: white;
    transition: 1s all;
    padding: 5px;
}

header>nav:hover {
    scale: 1.1;
    cursor: pointer;
}

header>nav:active {
    scale: .9;
}

/* Content*/

@keyframes vanish {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content {
    background: url(../dist/assets/renkli.jpg);
    background-size: cover;
    color: white;
    box-shadow: inset 0px 0px 10px 3px black;
    transition: all 2s;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 30px;
}

.exp {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.exp>div{
    border: 1px solid gold;
    border-radius: 10px;
    width: 400px;
    background: url(../dist/assets/dene.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp>div>img{
    width: 150px;
    height: 100px;
    filter: drop-shadow(0px 0px 2px white);
}

.exp>div>p{
    width: 80%;
    text-align: center;
}